body {
  margin-left: 50px;
  margin-top: 20px;
  background: lightblue;
}

.movie {
  display: inline-block;
  padding: 10px;
}

.title {
  text-align: center;
}

#searchBar {
  height: 30px;
  width: 500px;
  font-size: 15px;
  font-family: arial;
}

#searchButton {
  height: 35px;
  width: 30px;
  padding-top: 5px;
}

#search {

}
